@media all and (max-width: 414px) {
    .layer-wrap {
        max-width: 359px !important;
    }
}
@media all and (max-width: 390px) {
    .layer-wrap {
        max-width: 335px !important;
    }
}
@media all and (max-width: 375px) {
    .layer-wrap {
        max-width: 320px !important;
    }
}