@media all and (max-width: 425px) {
  .button,
  .button-delete,
  .button-total,
  .parenthesis,
  .button-operator,
  .neon-red,
  .button-dot,
  .history p {
    font-size: 1.2rem !important;
    transition: all 0.3s;
  }
  #layerNumber {
    font-size: 1.4rem !important;
  }
}
